.nav{
    height: 70px;
    position: sticky;
    top: 0px;
    list-style: none;
    background-color: #27262e;
    color: #fff;
    .container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    ul{
        font-size: 16px;
        display: flex;
        gap: 20px;
        margin: 0;
        justify-content: center;
        align-items: center;
        list-style: none;
        li{
            list-style: none;
        }
    }

}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contain{
    width:70%;
    margin-bottom: 30px;
    background: linear-gradient(270deg, #2a2b20, #998f8a, #171818);
    background-size: 600% 600%;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-animation: containergradient 30s ease infinite;
    -moz-animation: containergradient 30s ease infinite;
    animation: containergradient 15s ease infinite;
}
@-webkit-keyframes containergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes containergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes containergradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.accent-title{
    font-size: 28px;
    font-family: 'Anton', sans-serif;
}

body{
    background-color: #201f28;
    color: #fff;
}