@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.nav {
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  list-style: none;
  background-color: #27262e;
  color: #fff;
}

.nav .container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav ul {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: whitesmoke;
}

.nav ul li a:hover {
  color: grey;
}

main {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .accent-title {
  text-align: center;
}

.contain {
  width: 70%;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#2a2b20), color-stop(#998f8a), to(#171818));
  background: linear-gradient(270deg, #2a2b20, #998f8a, #171818);
  background-size: 600% 600%;
  border-radius: 10px;
  padding: 5px 10px;
  -webkit-animation: containergradient 30s ease infinite;
  animation: containergradient 15s ease infinite;
  padding: 30px auto;
  text-align: center;
}

.container .btn-table {
  background-color: orange;
  width: 80%;
  padding: 15px;
  margin: 8px;
}

.container .btn-table:hover {
  background-color: RED;
  color: black;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.container .btn-calculate {
  padding: 15px;
  margin: 8px;
  background-color: orangered;
  width: 80%;
}

.container .btn-calculate:hover {
  background-color: RED;
  color: black;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@-webkit-keyframes containergradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes containergradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradx {
  color: orange;
}

.accent-title {
  font-size: 28px;
  font-family: 'Anton', sans-serif;
  padding: 30px auto;
}

body {
  background-color: #201f28;
  color: #fff;
}

.footer {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-icon__link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
/*# sourceMappingURL=styles.css.map */